
[Desktop Entry]
Name=Ventura-dark
X-KDE-PluginInfo-Author=menaxamged
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=menaxmaged@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=Ventura-dark
X-KDE-PluginInfo-Version=.0.4
X-KDE-PluginInfo-Website=

[Wallpaper]
defaultWallpaperTheme=Ventura-dark
defaultFileSuffix=.png
defaultHeight=1440
defaultWidth=2560

[AdaptiveTransparency]
enabled = true
