[Desktop Entry]
Name=Ventura-dark
X-KDE-PluginInfo-Name=Ventura-dark
X-KDE-PluginInfo-Author=Mena Maged
X-KDE-PluginInfo-Email=menaxmaged@gmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
